@import '../styles/custom.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

button.trigger-no-arrow :nth-child(2) {
  display: none;
}

div#trending-bar > nav,
div#trending-bar > nav > div {
  display: flex;
  width: 100%;
  max-width: 100%;
}
